
      #checkout{
        background-color: aquamarine;
        justify-content: center;
        height: 70px;
        
        
      }
      input{
        margin-top: 20px;
        margin-left: 90px;
      }
    #hotel_details{
      display: grid;
      grid-template-columns: repeat(4,1fr);

    }
    #hotel_details img{
      width: 100%;
    }